@charset "utf-8";

#coupon-content {
    padding: 15px;
    position: relative;
}

#coupon-content .coupon-select {
    width: 100%;
    border: 1px solid #dedede;
    padding: 12px 15px;
    font-size: 13px;
    color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#coupon-content .coupon-list {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 15px;
    border-left: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    display: none;
    margin-top: 1px;
}

#coupon-content .coupon-list .coupon-item {
    display: flex;
    font-size: 13px;
    color: #222222;
}

#coupon-content .coupon-list .coupon-item.disable {
    color: #dedede;
}

#coupon-content .coupon-list .coupon-item .left {
    width: 8%;
}

#coupon-content .coupon-list .coupon-item .right {
    width: 92%;
}

.receiver-info-gtc {
    border: 1px solid #dedede;
    background-color: #f7f7f7;
    color: #777777;
    font-size: 12px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.receiver-info-gtc.active {
    border: 1px solid #660588;
    background-color: #fff;
    color: #660588;
}

#prod-price {
    font-size: 18px;
    color: #222222;
    font-weight: bold;
}

#total-price-guide {
    font-size: 15px;
    color: #adadad;
    font-weight: bold;
}

#total-price {
    font-size: 21px;
    color: #660588;
    font-weight: bold;
}

#total-price-unit {
    font-size: 15px;
    color: #660588;
}

.search_wrapper {
    height: 150px;
}

.divTomato {
    bottom: -60px;
    box-shadow: 0 -5px 5px 0px rgba(0, 0, 0, 0.05), 0 -8px 10px -2px rgba(0, 0, 0, 0.1);
    transition: bottom .2s;
}

.divTomato.collapsed {
    bottom: 0;
}

#footer-menu {
    height: 60px;
    bottom: -70px;
    box-shadow: 0 -5px 5px 0px rgba(0, 0, 0, 0.05), 0 -8px 10px -2px rgba(0, 0, 0, 0.1);
    transition: bottom .2s;
    width: 100%;
    position: fixed;
    max-width: 500px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

#footer-menu.collapsed {
    bottom: 0;
}

.swiper_menu_control {
    background-image: none;
    border: 0;
    outline: 0;
    width: 8px;
    height: 18px;
}

.swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-next.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}

#header-detail {
    z-index: 100;
    top: -65px;
}

#header-detail.show {
    top: 0;
}

#header-gtc {
    z-index: 100;
    top: -65px;
}

#header-gtc.show {
    top: 0;
}

.attendance_gtc_bottom {
    margin-bottom: 30%;
}

.attendance_gtc_bottom_1 {
    margin-bottom: 30%;
}

.review-image {
    width: 100%;
    height: 89px;
}

.review-tab {
    display: inline-flex;
    font-size: 15px;
    color: #777777;
    padding: 14px;
}

.review-height {
    padding: 28px 0px;
}

.review-tab.active {
    color: #de322a;
    font-weight: bold;
    border-bottom: 2px solid #de322a;
}

.question-tab {
    border: 1px solid #dedede;
    color: #cfcfcf;
    font-size: 14px;
    float: left;
    width: 20%;
    text-align: center;
    padding: 15px;
}

.question-tab.active {
    border: 1px solid #de322a;
    color: #de322a;
}

.keypad {
    border-radius: 100%;
    border: 1px solid #cf000e;
    width: 60px;
    height: 60px;
    font-size: 20px;
    color: #222222;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.keypad:active {
    background: #cf000e;
    color: #fff;
}

.pwd_border {
    display: inline-block;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    margin: 0px 4%;
    background-color: #dedede;
}

.pwd_border.active {
    background-color: #df322b;
}

.btn-36-border {
    display: inline-block;
    text-align: center;
    border: 1px solid #dedede;
    width: 42px;
    height: 40px;
    margin: 0px 1.5%;
    padding-top: 14px;
}

.btn-36-border.active {
    border: 1px solid #cf000e;
}

.sort_item {
    width: 29%;
    position: relative;
}

.sort_item .text_title {
    font-size: 12px;
    color: #222222;
}

.sort_list {
    position: absolute;
    width: 70%;
    padding-top: 12px;
    height: auto;
    right: 0;
    z-index: 10;
    background-color: #fff;
    top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sort_list .item {
    width: 100%;
    height: 30px;
    text-align: right;
    font-size: 12px;
    color: #b4b4b4;
    padding-right: 8px;
    background-color: #fff;
}

.sort_list .item.active {
    color: #222222;
}

.page-number {
    border-radius: 15px;
    width: 54px;
    padding: 0px 0px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background: #000000;
    opacity: 1;
    position: absolute;
    left: 85%;
    bottom: 15px;
    z-index: 100;
    cursor: pointer;
}

.back-line {
    width: 100%;
    height: 9px;
    background: #f6f6f6;
}

.back-line-border {
    width: 100%;
    height: 9px;
    border-top: 1px solid #dedede;
    background: #f6f6f6;
}

.ico-cart {
    position: absolute;
    background: #de322a;
    color: #fff;
    border-radius: 20px;
    width: 18px;
    height: 18px;
    font-size: 12px;
    right: -8px;
    top: -1px;
    padding-top: 3px;
    text-align: center;
}

.border-line {
    border-bottom: 1px solid #dedede;
}

#header-main {
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    width: 100%;
    max-width: 500px;
    position: fixed;
    border-bottom: 1px solid #dedede;
    background-color: #fff;
    top: -65px;
    transition: top .2s;
    z-index: 100;
}

#header-main.collapsed {
    top: 0;
}

#header-main .header-item {
    display: flex;
    align-items: center;
}

.header-main {
    padding: 15px;
}

.input-search {
    width: 100%;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #de322a;
}

.prod-tab {
    padding: 17px 0px;
    color: #777777;
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
}

.prod-tab.active {
    color: #de322a;
    border-bottom: 2px solid #de322a;
}

.gtc-tab {
    padding: 17px 0px;
    color: #777777;
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
}

.gtc-tab.active {
    color: #660588;
    border-bottom: 2px solid #660588;
}

.thumbnail {
    width: 95%;
    height: 223px;
    border-radius: 5px;
    padding: 0;
    border: 1px solid #e5e5e5;
}

.thumbnail-1 {
    width: 95%;
    height: 186px;
    border-radius: 5px;
    padding: 0;
    border: 1px solid #e5e5e5;
}

.thumbnail-2 {
    width: 95%;
    height: 112px;
    border-radius: 5px;
    padding: 0;
    border: 1px solid #e5e5e5;
}

.prod-disrate {
    font-size: 29px;
    color: #de322a;
    font-style: italic;
    font-weight: bold;
}

.prod-disrate span {
    font-size: 20px;
}

.prod-disrate-1 {
    font-size: 48px;
    color: #de322a;
    font-style: italic;
    font-weight: bold;
}

.prod-disrate-1 span {
    font-size: 25px;
}

.prod-height {
    height: 35px;
}

.prod-old-price {
    font-size: 12px;
    color: #c3c3c3;
    text-decoration: line-through;
}

.prod-old-price-1 {
    font-size: 13px;
    color: #c3c3c3;
    text-decoration: line-through;
}

.prod-price {
    font-size: 14px;
    color: #222222;
    font-weight: bold;
    margin-top: 2px;
}

.prod-price span {
    font-size: 14px;
    font-weight: normal;
}

.prod-price-1 {
    font-size: 28px;
    color: #222222;
    font-weight: bold;
}

.prod-price-1 span {
    font-size: 22px;
    font-weight: normal;
}

#filter-menu {
    line-height: 1 !important;
}

#filter-wrapper {
    top: -67px;
    display: none;
    width: 80%;
    position: absolute;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 3000;
    /* margin-left: auto;
	right: 37%; */
    max-width: 500px;
    bottom: 0;
    right: 0;
}

#filter-wrapper .header {
    display: none;
    position: fixed;
    width: 100%;
    height: 51px;
    background: #de322a;
    border-bottom: 1px solid #ce2e27;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 10;
    max-width: 500px;
}

#left-menu {
    line-height: 1 !important;
}

.contact-info {
    width: 100%;
    height: calc(100% - 51px - 88px - 33px - 152px - 33px - 200px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 15px;
    color: #de322a;
    text-decoration: underline;
}

.menu-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2000;
    max-width: 500px;
}

.menu-overlay-filter {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2000;
    max-width: 500px;
}

#left-menu-wrapper {
    top: 0;
    display: none;
    width: 100%;
    position: fixed;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto !important;
    z-index: 3000;
    max-width: 500px;
    height: 100%;
    bottom: 0;
}

.navbar {
    width: 0px;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 0 !important
}

.navbar.navbar-inverse {
    border: none;
    border-radius: 0;
}

.navbar.navbar-inverse.navbar-fixed-top hr {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

.navbar-fixed-top {
    right: inherit;
}

#left-menu-wrapper .header {
    width: 100%;
    height: 51px;
    background: #de322a;
    border-bottom: 1px solid #ce2e27;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 10;
    max-width: 500px;
    position: relative;
}

#left-menu-wrapper .coin-wraper {
    width: 100%;
    background: #de322a;
    z-index: 10;
}

#left-menu-wrapper .setting-wraper {
    width: 100%;
    background: #de322a;
    top: 51px;
    z-index: 10;
}

#left-menu-wrapper .setting-wraper .setting {
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
}

#left-menu-wrapper .setting-wraper .setting img {
    width: 31px;
    height: 30px;
}

#left-menu-wrapper .setting-wraper .setting div {
    font-size: 12px;
    color: #fff;
    margin-top: 9px;
}

#left-menu-wrapper .menu-title {
    padding: 10px 15px;
    font-size: 12px;
    color: #222222;
    border-bottom: 1px solid #dedede;
    background: #f4f4f4;
}

#left-menu-wrapper .menu-wraper {
    width: 100%;
    background: #fff;
}

#left-menu-wrapper .menu-wraper .menu {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

#left-menu-wrapper .menu-wraper .menu img {
    width: 21px;
    height: 21px;
}

#left-menu-wrapper .menu-wraper .menu div {
    font-size: 12px;
    margin-top: 12px;
}

#left-menu-wrapper .menu-wraper .menu.active {
    background: #ff736d;
}

#left-menu-wrapper .txt-color-category {
    color: #de322a;
}

#left-menu-wrapper .txt-color-category.active-txt {
    color: #fff;
}

#left-menu-wrapper .txt-color-menu {
    color: #222222;
}

#left-menu-wrapper .logout {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 51px;
    text-align: center;
    border-top: 1px solid #dedede;
    padding-top: 16px;
    padding-bottom: 16px;
    background: #fff;
    z-index: 10;
    max-width: 500px;
}

#left-menu-wrapper .logout img {
    width: 70px;
}

#left-menu-wrapper #sub-category {
    width: 100%;
    background: #fafafa;
}

#left-menu-wrapper #sub-category .item {
    padding: 13.5px 15px;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

#left-menu-wrapper #sub-category .item div {
    font-size: 12px;
    color: #777777;
    float: left;
}

#left-menu-wrapper #sub-category .item img {
    width: 4px;
    height: 9px;
    float: right;
}

.footer-contact {
    background-color: #e02a2a;
    padding-top: 21px;
    padding-bottom: 21px;
    width: 100%;
    text-align: center;
}

.footer-info {
    background-color: #f9f9f9;
}

#footer {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.footer-info .footer-info-terms {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #eeeeee;
}

.footer-info .footer-info-terms .footer-info-item {
    width: 50%;
    float: left;
    text-align: center;
}

.footer-info .footer-info-terms .footer-info-item.info a,
.footer-info .footer-info-terms .footer-info-item.usage a {
    border-right: 1.5px solid #d6d6d6;
}

.footer-info a {
    display: block;
    font-size: 12px;
    color: #b7b7b7;
}

.footer-copyright {
    text-align: center;
    background: #f9f9f9;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-copyright div {
    font-size: 11px;
}

.copy-text {
    text-align: center;
    font-size: 11px;
    padding: 10px 0;
    color: #b7b7b7;
    background: #f9f9f9;
}

.swiper-container .paging {
    position: absolute;
    left: 45%;
    border-radius: 15px;
    font-size: 12px;
    color: #b4b4b4;
    background: #000;
    opacity: 0.5;
    display: inline-block;
    padding-top: 5px;
    z-index: 90;
    padding-bottom: 3px;
    padding-left: 9px;
    padding-right: 9px;
    width: 50px;
    text-align: center;
}

.swiper-container .coin-event {
    position: absolute;
    z-index: 10;
    bottom: 15px;
    right: 20px;
}

.prodinfo-rate {
    font-size: 35px;
    color: #de322a;
    font-weight: bold;
    font-style: italic;
}

.prodinfo-rate span {
    font-size: 24px;
    color: #de322a;
    font-style: italic;
}

.product-review-thumb-1 {
    width: 95%;
    height: 100px;
}

.product-review-thumb-2 {
    width: 95%;
    height: 75px;
}

.product-review-thumb-3 {
    width: 97%;
    height: 135px;
}

.review-duration-1 {
    z-index: 80;
    left: 30%;
    top: 60%;
}

.review-duration-2 {
    z-index: 80;
    left: 25%;
    top: 60%;
    color: #fff;
    font-size: 15px;
}

.option-tool {
    position: fixed;
    width: 100%;
    bottom: -60%;
    z-index: 1000;
    height: 60%;
    max-width: 500px;
}

.option-content {
    background-color: #fff;
    height: 100%;
    overflow-y: auto;
}

.option-kind {
    margin: 0px 15px 21px 15px;
}

.product-select {
    padding: 11px 8px;
    border: 1px solid #dedede;
}

.prod-count {
    border: 1px solid #dedede;
    float: left;
}

.prod-count .tag-minuse {
    width: 30px;
    height: 29px;
    border-right: 1px solid #dedede;
    color: #999999;
    font-size: 15px;
    text-align: center;
    float: left;
    padding-top: 7px;
}

.prod-count .tag-number {
    width: 45px;
    height: 29px;
    background: #fafafa;
    color: #222222;
    font-size: 15px;
    text-align: center;
    float: left;
    padding-top: 7px;
}

.prod-count .tag-plus {
    width: 30px;
    height: 29px;
    border-left: 1px solid #dedede;
    color: #999999;
    font-size: 15px;
    text-align: center;
    float: left;
    padding-top: 7px;
}

.event-coin-res {
    position: fixed;
    display: block;
    top: 27%;
    max-width: 500px;
    z-index: 3000;
}

.tongtongmall-bookmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 27px;
    background: #de322a;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
    padding-top: 6px;
}

.group-bookmark {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
}

.group-bookmark-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}

#product-detail .group-join-state {
    position: absolute;
    bottom: 10px;
    right: 0px;
    height: 24px;
    background: #7c7c7c;
    color: #fff;
    font-size: 12px;
    padding: 7px;
    z-index: 10;
    right: 15px;
}

.btn-ttcoin {
    width: 72px;
    height: 72px;
    background-image: url('../images/ico_coin_1_unselected.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.btn-ttcoin.active {
    background-image: url('../images/ico_coin_1_selected.png');
}

.btn-simple {
    width: 72px;
    height: 72px;
    background-image: url('../images/ico_card_simple_unselected.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin-right: 30px;
}

.btn-simple.active {
    background-image: url('../images/ico_card_simple_selected.png');
}

.btn-card {
    width: 72px;
    height: 72px;
    background-image: url('../images/ico_card_unselected.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin-right: 30px;
}

.btn-card.active {
    background-image: url('../images/ico_card_selected.png');
}

.btn-account {
    width: 72px;
    height: 72px;
    background-image: url('../images/ico_account_unselected.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.btn-account.active {
    background-image: url('../images/ico_account_selected.png');
}

.category-paging {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background: #fff;
}

.category-paging .page {
    border: 1px solid #e02a2a;
    border-radius: 5px;
    font-size: 13px;
    width: 30px;
    height: 25px;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    color: #222222;
    margin-left: 5px;
}

.category-paging .page.active {
    background: #e02a2a;
    color: #fff;
}

.category-paging .next {
    border: 1px solid #e02a2a;
    border-radius: 5px;
    font-size: 13px;
    width: 50px;
    height: 25px;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    margin-left: 5px;
    color: #222222;
}

.category-paging .prev {
    border: 1px solid #e02a2a;
    border-radius: 5px;
    font-size: 13px;
    width: 50px;
    height: 25px;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    color: #222222;
}

.btn-join {
    width: 100%;
    height: 35px;
    font-size: 12px;
    text-align: center;
    color: #6926a7;
    border: 1px solid #6926a7;
    padding: 9px;
}

.group-join {
    width: 95%;
    height: 35px;
    font-size: 12px;
    background: #f2f2f2;
    padding: 9px;
    color: #222222;
    text-align: center;
}

.mask-deadline {
    position: absolute;
    width: 100%;
    height: 96%;
    z-index: 15;
    left: 0;
    right: 0;
    top: 0;
}

.subcategory-list {
    color: #777777;
    font-size: 15px;
    border-bottom: 1px solid #dedede;
    padding: 10px 15px;
    cursor: pointer;
}

.subcategory-list.active {
    font-weight: bold;
    background-color: #f6f6f6;
}

.search-item {
    border-radius: 3px;
    padding: 5px;
    background: #de322a;
    float: left;
    margin-left: 5px;
    font-size: 13px;
    color: #fff;
    margin-top: 5px;
}

.search-menu-item {
    background-color: #f6f6f6;
    padding: 15px;
    font-size: 16px;
    color: #999999;
    text-align: center;
    cursor: pointer;
}

.search-menu-item.active {
    background-color: #fff;
    color: #222222;
    font-weight: bold;
    width: 101%;
}

.search-category-txt {
    font-size: 14px;
    color: #999999;
    cursor: pointer;
    text-align: left;
}

.search-category-txt.active {
    color: #de322a;
}

.search-sucategory-txt {
    font-size: 13px;
    color: #999999;
    cursor: pointer;
    text-align: left;
    margin-left: 15px;
    margin-top: 12px;
}

.search-sucategory-txt.active {
    color: #de322a;
}

.service-kind-mark {
    width: 57px;
    border: 1px solid #dedede;
    border-radius: 20px;
    font-size: 10px;
    color: #222222;
    padding: 5px 0px;
    text-align: center;
}

.shipping-kind-mark {
    border: 1px solid #dedede;
    border-radius: 20px;
    font-size: 10px;
    color: #222222;
    padding: 5px 6px;
    text-align: center;
}

.delivery-space {
    margin-left: 2.55%;
}

.delivery-status-image {
    width: 65px;
}

.review-thumb {
    width: 136px;
    height: 136px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.menu-item:last-child {
    margin-bottom: 0;
}

.menu-item .left-field {
    display: flex;
    align-items: center;
}

.menu-item .left-field img {
    width: 29px;
    height: 29px;
}

.menu-item .left-field p {
    font-size: 13px;
    color: #222222;
}

.menu-item .right-field {
    width: 19px;
    height: 17px;
}
#image-detail img {
    max-width: 500px;
    width: 100%;
}
/* half sale */
.halfthumbnail {
    width: 100%;
    height: 223px;
    border-radius: 10px;
    padding: 0;
    border: 1px solid #e5e5e5;
}



/*230526 ìŠ¤íƒ€ì¼ ì¶”ê°€*/

.thumbnail-2{width: 80%; object-fit: cover;}
.menu-overlay-filter{max-width: 1920px; left: 0;}
/*230526 ìŠ¤íƒ€ì¼ ì¶”ê°€ ë*/


/*240415*/
.page-number{height: 20px; line-height: 20px; color: #fff; font-size: 1.2em; letter-spacing: 2px; font-weight: bold; background: #de322a;}