[class*='col-xs-'] {
	padding-right: 0px;
	padding-left: 0px;
}

.row {
	margin: 0;
}

a {
	color: initial;
}

a:link, a:focus, a:hover, a:active {
	color: inherit;
	text-decoration: none;
}

.pointer {
	cursor: pointer;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
}

.default-unit {
	width: 100%;
	max-width: 500px;
	background: #fff;
}

.main-color {
	background: #de322a;
}

.pos-re {
	position: relative;
}

.pos-ab {
	position: absolute;
}

.pos-fix {
	position: fixed;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.m0 {
	margin: 0 !important;
}

.p0 {
	padding: 0 !important;
}

.line-height-1 {
	line-height: 1.6 !important;
}

.line-height-2 {
	line-height: 1.4 !important;
}

.text-underline {
	text-decoration: underline;
}

.text-through {
	text-decoration: line-through;
}

.mt-0 {
	margin-top: 0 !important;
}

.mt-1 {
	margin-top: 1px !important;
}

.mt-2 {
	margin-top: 2px !important;
}

.mt-3 {
	margin-top: 3px !important;
}

.mt-4 {
	margin-top: 4px !important;
}

.mt-5 {
	margin-top: 5px !important;
}

.mt-6 {
	margin-top: 6px !important;
}

.mt-7 {
	margin-top: 7px !important;
}

.mt-8 {
	margin-top: 8px !important;
}

.mt-9 {
	margin-top: 9px !important;
}

.mt-10 {
	margin-top: 10px !important;
}

.mt-11 {
	margin-top: 11px !important;
}

.mt-12 {
	margin-top: 12px !important;
}

.mt-13 {
	margin-top: 13px !important;
}

.mt-14 {
	margin-top: 14px !important;
}

.mt-15 {
	margin-top: 15px !important;
}

.mt-16 {
	margin-top: 16px !important;
}

.mt-17 {
	margin-top: 17px !important;
}

.mt-18 {
	margin-top: 18px !important;
}

.mt-19 {
	margin-top: 19px !important;
}

.mt-20 {
	margin-top: 20px !important;
}

.mt-21 {
	margin-top: 21px !important;
}

.mt-22 {
	margin-top: 22px !important;
}

.mt-23 {
	margin-top: 23px !important;
}

.mt-24 {
	margin-top: 24px !important;
}

.ml-0 {
	margin-left: 0 !important;
}

.ml-1 {
	margin-left: 1px !important;
}

.ml-2 {
	margin-left: 2px !important;
}

.ml-3 {
	margin-left: 3px !important;
}

.ml-4 {
	margin-left: 4px !important;
}

.ml-5 {
	margin-left: 5px !important;
}

.ml-6 {
	margin-left: 6px !important;
}

.ml-7 {
	margin-left: 7px !important;
}

.ml-8 {
	margin-left: 8px !important;
}

.ml-9 {
	margin-left: 9px !important;
}

.ml-10 {
	margin-left: 10px !important;
}

.ml-11 {
	margin-left: 11px !important;
}

.ml-12 {
	margin-left: 12px !important;
}

.ml-13 {
	margin-left: 13px !important;
}

.ml-14 {
	margin-left: 14px !important;
}

.ml-15 {
	margin-left: 15px !important;
}

.ml-16 {
	margin-left: 16px !important;
}

.ml-17 {
	margin-left: 17px !important;
}

.ml-18 {
	margin-left: 18px !important;
}

.ml-19 {
	margin-left: 19px !important;
}

.ml-20 {
	margin-left: 20px !important;
}

.mr-0 {
	margin-right: 0 !important;
}

.mr-1 {
	margin-right: 1px !important;
}

.mr-2 {
	margin-right: 2px !important;
}

.mr-3 {
	margin-right: 3px !important;
}

.mr-4 {
	margin-right: 4px !important;
}

.mr-5 {
	margin-right: 5px !important;
}

.mr-6 {
	margin-right: 6px !important;
}

.mr-7 {
	margin-right: 7px !important;
}

.mr-8 {
	margin-right: 8px !important;
}

.mr-9 {
	margin-right: 9px !important;
}

.mr-10 {
	margin-right: 10px !important;
}

.mr-11 {
	margin-right: 11px !important;
}

.mr-12 {
	margin-right: 12px !important;
}

.mr-13 {
	margin-right: 13px !important;
}

.mr-14 {
	margin-right: 14px !important;
}

.mr-15 {
	margin-right: 15px !important;
}

.mr-16 {
	margin-right: 16px !important;
}

.mr-17 {
	margin-right: 17px !important;
}

.mr-18 {
	margin-right: 18px !important;
}

.mr-19 {
	margin-right: 19px !important;
}

.mr-20 {
	margin-right: 20px !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-1 {
	margin-bottom: 1px !important;
}

.mb-2 {
	margin-bottom: 2px !important;
}

.mb-3 {
	margin-bottom: 3px !important;
}

.mb-4 {
	margin-bottom: 4px !important;
}

.mb-5 {
	margin-bottom: 5px !important;
}

.mb-6 {
	margin-bottom: 6px !important;
}

.mb-7 {
	margin-bottom: 7px !important;
}

.mb-8 {
	margin-bottom: 8px !important;
}

.mb-9 {
	margin-bottom: 9px !important;
}

.mb-10 {
	margin-bottom: 10px !important;
}

.mb-11 {
	margin-bottom: 11px !important;
}

.mb-12 {
	margin-bottom: 12px !important;
}

.mb-13 {
	margin-bottom: 13px !important;
}

.mb-14 {
	margin-bottom: 14px !important;
}

.mb-15 {
	margin-bottom: 15px !important;
}

.mb-16 {
	margin-bottom: 16px !important;
}

.mb-17 {
	margin-bottom: 17px !important;
}

.mb-18 {
	margin-bottom: 18px !important;
}

.mb-19 {
	margin-bottom: 19px !important;
}

.mb-20 {
	margin-bottom: 20px !important;
}

.mb-21 {
	margin-bottom: 21px !important;
}

.mb-22 {
	margin-bottom: 22px !important;
}

.mb-23 {
	margin-bottom: 23px !important;
}

.mb-24 {
	margin-bottom: 24px !important;
}

.font-ffbc-12 {
	font-size: 12px !important;
	color: #ffbcb9 !important;
}

.font-white-11 {
	font-size: 11px !important;
	color: #fff !important;
}

.font-white-12 {
	font-size: 12px !important;
	color: #fff !important;
}

.font-white-13 {
	font-size: 13px !important;
	color: #fff !important;
}

.font-white-15 {
	font-size: 15px !important;
	color: #fff !important;
}

.font-white-17 {
	font-size: 17px !important;
	color: #fff !important;
}

.font-white-18 {
	font-size: 18px !important;
	color: #fff !important;
}

.font-white-20 {
	font-size: 20px !important;
	color: #fff !important;
}

.font-white-21 {
	font-size: 21px !important;
	color: #fff !important;
}

.font-white-24 {
	font-size: 24px !important;
	color: #fff !important;
}

.font-adad-13 {
	font-size: 13px !important;
	color: #adadad !important;
}

.font-bfbf-12 {
	font-size: 12px !important;
	color: #bfbfbf !important;
}

.font-333-12 {
	font-size: 12px !important;
	color: #333333 !important;
}

.font-333-15 {
	font-size: 15px !important;
	color: #333333 !important;
}

.font-333-18 {
	font-size: 18px !important;
	color: #333333 !important;
}

.font-333-24 {
	font-size: 24px !important;
	color: #333333 !important;
}

.font-b4b4-12 {
	font-size: 12px !important;
	color: #b4b4b4 !important;
}

.font-b4b4-13 {
	font-size: 13px !important;
	color: #b4b4b4 !important;
}

.font-b4b4-14 {
	font-size: 14px !important;
	color: #b4b4b4 !important;
}

.font-b4b4-15 {
	font-size: 15px !important;
	color: #b4b4b4 !important;
}

.font-b7b7-12 {
	font-size: 12px !important;
	color: #b7b7b7 !important;
}

.font-e686-15 {
	font-size: 15px !important;
	color: #e68632 !important;
}

.font-e686-12 {
	font-size: 12px !important;
	color: #e68632 !important;
}

.font-555-11 {
	font-size: 11px !important;
	color: #555555 !important;
}

.font-555-12 {
	font-size: 12px !important;
	color: #555555 !important;
}

.font-555-13 {
	font-size: 13px !important;
	color: #555555 !important;
}

.font-555-15 {
	font-size: 15px !important;
	color: #555555 !important;
}

.font-222-9 {
	font-size: 9px !important;
	color: #222222 !important;
}

.font-222-10 {
	font-size: 10px !important;
	color: #222222 !important;
}

.font-222-11 {
	font-size: 11px !important;
	color: #222222 !important;
}

.font-222-12 {
	font-size: 12px !important;
	color: #222222 !important;
}

.font-222-13 {
	font-size: 13px !important;
	color: #222222 !important;
}

.font-222-15 {
	font-size: 15px !important;
	color: #222222 !important;
}

.font-222-16 {
	font-size: 16px !important;
	color: #222222 !important;
}

.font-222-17 {
	font-size: 17px !important;
	color: #222222 !important;
}

.font-222-18 {
	font-size: 18px !important;
	color: #222222 !important;
}

.font-222-19 {
	font-size: 19px !important;
	color: #222222 !important;
}

.font-222-20 {
	font-size: 20px !important;
	color: #222222 !important;
}

.font-222-21 {
	font-size: 21px !important;
	color: #222222 !important;
}

.font-222-22 {
	font-size: 22px !important;
	color: #222222 !important;
}

.font-222-24 {
	font-size: 24px !important;
	color: #222222 !important;
}

.font-0ba-12 {
	font-size: 12px !important;
	color: #0ba6e1 !important;
}

.font-0ba-13 {
	font-size: 13px !important;
	color: #0ba6e1 !important;
}

.font-0ba-14 {
	font-size: 14px !important;
	color: #0ba6e1 !important;
}

.font-0ba-15 {
	font-size: 15px !important;
	color: #0ba6e1 !important;
}

.font-0ba-16 {
	font-size: 16px !important;
	color: #0ba6e1 !important;
}

.font-0ba-17 {
	font-size: 17px !important;
	color: #0ba6e1 !important;
}

.font-8a3b-15 {
	font-size: 15px !important;
	color: #8a3bd2 !important;
}

.font-c3c3-12 {
	font-size: 12px !important;
	color: #c3c3c3 !important;
}

.font-c3c3-13 {
	font-size: 13px !important;
	color: #c3c3c3 !important;
}

.font-c3c3-14 {
	font-size: 14px !important;
	color: #c3c3c3 !important;
}

.font-c3c3-15 {
	font-size: 15px !important;
	color: #c3c3c3 !important;
}

.font-777-11 {
	font-size: 11px !important;
	color: #777777 !important;
}

.font-777-12 {
	font-size: 12px !important;
	color: #777777 !important;
}

.font-777-13 {
	font-size: 13px !important;
	color: #777777 !important;
}

.font-777-15 {
	font-size: 15px !important;
	color: #777777 !important;
}

.font-c4c4-12 {
	font-size: 12px !important;
	color: #c4c4c4 !important;
}

.font-999-9 {
	font-size: 9px !important;
	color: #999999 !important;
}

.font-999-10 {
	font-size: 10px !important;
	color: #999999 !important;
}

.font-999-11 {
	font-size: 11px !important;
	color: #999999 !important;
}

.font-999-12 {
	font-size: 12px !important;
	color: #999999 !important;
}

.font-999-13 {
	font-size: 13px !important;
	color: #999999 !important;
}

.font-999-14 {
	font-size: 14px !important;
	color: #999999 !important;
}

.font-999-15 {
	font-size: 15px !important;
	color: #999999 !important;
}

.font-default-10 {
	font-size: 10px !important;
	color: #de322a !important;
}

.font-default-11 {
	font-size: 11px !important;
	color: #de322a !important;
}

.font-default-12 {
	font-size: 12px !important;
	color: #de322a !important;
}

.font-default-13 {
	font-size: 13px !important;
	color: #de322a !important;
}

.font-default-14 {
	font-size: 14px !important;
	color: #de322a !important;
}

.font-default-15 {
	font-size: 15px !important;
	color: #de322a !important;
}

.font-default-17 {
	font-size: 17px !important;
	color: #de322a !important;
}

.font-default-18 {
	font-size: 18px !important;
	color: #de322a !important;
}

.font-default-24 {
	font-size: 24px !important;
	color: #de322a !important;
}

.font-default-21 {
	font-size: 21px !important;
	color: #de322a !important;
}

.font-default-30 {
	font-size: 30px !important;
	color: #de322a !important;
}

.font-group-15 {
	font-size: 15px !important;
	color: #0092e6 !important;
}

.font-ec716b-15 {
	font-size: 15px !important;
	color: #ec716b;
}

.font-weight {
	font-weight: bold !important;
}

.border-top {
	border-top: 1px solid #dedede !important;
}

.border-btm {
	border-bottom: 1px solid #dedede !important;
}

.border-left {
	border-left: 1px solid #dedede !important;
}

.border-right {
	border-right: 1px solid #dedede !important;
}

.border-all {
	border: 1px solid #dedede !important;
}

.border-default {
	border: 1px solid #de322a !important;
}

.border-gtc {
	border: 1px solid #660588 !important;
}

.border-none {
	border: none !important;
}

.pad-default {
	padding: 0px 15px !important;
}

.padding-9 {
	padding: 9px !important;
}

.padding-12 {
	padding: 12px !important;
}

.padding-15 {
	padding: 15px !important;
}

.pl-24 {
	padding-left: 24px !important;
}

.pr-24 {
	padding-right: 24px !important;
}

.pt-24 {
	padding-top: 24px !important;
}

.pb-24 {
	padding-bottom: 24px !important;
}

.pr-30 {
	padding-right: 30px !important;
}

.pt-30 {
	padding-top: 30px !important;
}

.pl-30 {
	padding-left: 30px !important;
}

.pb-30 {
	padding-bottom: 30px !important;
}

.pt-0 {
	padding-top: 0 !important;
}

.pt-1 {
	padding-top: 1px !important;
}

.pt-2 {
	padding-top: 2px !important;
}

.pt-3 {
	padding-top: 3px !important;
}

.pt-4 {
	padding-top: 4px !important;
}

.pt-5 {
	padding-top: 5px !important;
}

.pt-6 {
	padding-top: 6px !important;
}

.pt-7 {
	padding-top: 7px !important;
}

.pt-8 {
	padding-top: 8px !important;
}

.pt-9 {
	padding-top: 9px !important;
}

.pt-10 {
	padding-top: 10px !important;
}

.pt-11 {
	padding-top: 11px !important;
}

.pt-12 {
	padding-top: 12px !important;
}

.pt-13 {
	padding-top: 13px !important;
}

.pt-14 {
	padding-top: 14px !important;
}

.pt-15 {
	padding-top: 15px !important;
}

.pt-16 {
	padding-top: 16px !important;
}

.pt-17 {
	padding-top: 17px !important;
}

.pt-18 {
	padding-top: 18px !important;
}

.pt-19 {
	padding-top: 19px !important;
}

.pt-20 {
	padding-top: 20px !important;
}

.pt-21 {
	padding-top: 21px !important;
}

.pl-0 {
	padding-left: 0 !important;
}

.pl-1 {
	padding-left: 1px !important;
}

.pl-2 {
	padding-left: 2px !important;
}

.pl-3 {
	padding-left: 3px !important;
}

.pl-4 {
	padding-left: 4px !important;
}

.pl-5 {
	padding-left: 5px !important;
}

.pl-6 {
	padding-left: 6px !important;
}

.pl-7 {
	padding-left: 7px !important;
}

.pl-8 {
	padding-left: 8px !important;
}

.pl-9 {
	padding-left: 9px !important;
}

.pl-10 {
	padding-left: 10px !important;
}

.pl-11 {
	padding-left: 11px !important;
}

.pl-12 {
	padding-left: 12px !important;
}

.pl-13 {
	padding-left: 13px !important;
}

.pl-14 {
	padding-left: 14px !important;
}

.pl-15 {
	padding-left: 15px !important;
}

.pl-16 {
	padding-left: 16px !important;
}

.pl-17 {
	padding-left: 17px !important;
}

.pl-18 {
	padding-left: 18px !important;
}

.pl-19 {
	padding-left: 19px !important;
}

.pl-20 {
	padding-left: 20px !important;
}

.pr-0 {
	padding-right: 0 !important;
}

.pr-1 {
	padding-right: 1px !important;
}

.pr-2 {
	padding-right: 2px !important;
}

.pr-3 {
	padding-right: 3px !important;
}

.pr-4 {
	padding-right: 4px !important;
}

.pr-5 {
	padding-right: 5px !important;
}

.pr-6 {
	padding-right: 6px !important;
}

.pr-7 {
	padding-right: 7px !important;
}

.pr-8 {
	padding-right: 8px !important;
}

.pr-9 {
	padding-right: 9px !important;
}

.pr-10 {
	padding-right: 10px !important;
}

.pr-11 {
	padding-right: 11px !important;
}

.pr-12 {
	padding-right: 12px !important;
}

.pr-13 {
	padding-right: 13px !important;
}

.pr-14 {
	padding-right: 14px !important;
}

.pr-15 {
	padding-right: 15px !important;
}

.pr-16 {
	padding-right: 16px !important;
}

.pr-17 {
	padding-right: 17px !important;
}

.pr-18 {
	padding-right: 18px !important;
}

.pr-19 {
	padding-right: 19px !important;
}

.pr-20 {
	padding-right: 20px !important;
}

.pb-0 {
	padding-bottom: 0 !important;
}

.pb-1 {
	padding-bottom: 1px !important;
}

.pb-2 {
	padding-bottom: 2px !important;
}

.pb-3 {
	padding-bottom: 3px !important;
}

.pb-4 {
	padding-bottom: 4px !important;
}

.pb-5 {
	padding-bottom: 5px !important;
}

.pb-6 {
	padding-bottom: 6px !important;
}

.pb-7 {
	padding-bottom: 7px !important;
}

.pb-8 {
	padding-bottom: 8px !important;
}

.pb-9 {
	padding-bottom: 9px !important;
}

.pb-10 {
	padding-bottom: 10px !important;
}

.pb-11 {
	padding-bottom: 11px !important;
}

.pb-12 {
	padding-bottom: 12px !important;
}

.pb-13 {
	padding-bottom: 13px !important;
}

.pb-14 {
	padding-bottom: 14px !important;
}

.pb-15 {
	padding-bottom: 15px !important;
}

.pb-16 {
	padding-bottom: 16px !important;
}

.pb-17 {
	padding-bottom: 17px !important;
}

.pb-18 {
	padding-bottom: 18px !important;
}

.pb-19 {
	padding-bottom: 19px !important;
}

.pb-20 {
	padding-bottom: 20px !important;
}

.h-24 {
	height: 24px !important;
}

.h-30 {
	height: 30px !important;
}

.h-36 {
	height: 36px !important;
}

.h-39 {
	height: 39px !important;
}

.h-42 {
	height: 42px !important;
}

.h-48 {
	height: 48px !important;
}

.h-45 {
	height: 45px !important;
}

.h-51 {
	height: 51px !important;
}

.h-54 {
	height: 54px !important;
}

.h-75 {
	height: 75px !important;
}

.h-60 {
	height: 60px !important;
}

.h-69 {
	height: 60px !important;
}

.back-default {
	background: #fff;
}

.back-gtc {
	background-color: #660588;
}

.back-0 {
	background: #de322a !important;
}

.back-1 {
	background: #f0f0f0 !important;
}

.back-2 {
	background-color: #fafafa !important;
}

.back-3 {
	background: #f9f9f9 !important;
}

.back-4 {
	background: #e5e5e5 !important;
}

.back-5 {
	background: #383333 !important;
}

.back-6 {
	background: #f6f6f6 !important;
}

.back-7 {
	background: #fcfcfc !important;
}

.back-8 {
	background: #999999 !important;
}

.back-9 {
	background: #009ecf !important;
}

.back-10 {
	background: #ba00cf !important;
}

.back-11 {
	background: #f5f5f5 !important;
}

.radius-30 {
	border-radius: 30px !important;
}

.radius-25 {
	border-radius: 25px !important;
}

.radius-3 {
	border-radius: 3px !important;
}

.radius-5 {
	border-radius: 5px !important;
}

.radius-7 {
	border-radius: 7px !important;
}

.radius-10 {
	border-radius: 10px !important;
}

.radius-0 {
	border-radius: 0 !important;
}


/*230526 스타일 추가*/

.default-unit{max-width: 1100px;}
/*230526 스타일 추가 끝*/